* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

/* style.css */
:root {
  /* LIGHT MODE (Defaults) */
  --bg-body: #ffffff;
  --bg-sidebar: #ffffff;
  --bg-header: #ffffff;
  --text-main: #02000a;
  --text-muted: #6f6f76;
  --border-ui: #7ac231;
  --card-bg: #e9fbf0;
  --nav-active: #f0f9f0;
  --table-row: #eaf6d87a;
  --toggle-bg: #f0f0f0;
  --inner-circle: #1c1c1c;
  --placeholder-bg: #00000033;
  --notify-bg: #ffffff;
  --invoice-bg: #afed0945;
  --percent-cl: #86b40a;
  --cal-bg: #fdfbf7;
  --transaction-bg: #e7f7e9;
  --line-bg: linear-gradient(101.43deg, #03d17a -0.53%, #afed09 97.73%);
  --row-bg: #eaf6d87a;
  --headrow-cl: #04b76b;
  --row-cl: #02000a;
  --cancel-cl: #e80000;
  --navbar-cl: #02000a;
}

[data-theme="dark"] {
  /* DARK MODE OVERRIDES */
  --bg-body: #000614;
  --bg-sidebar: #000614;
  --bg-header: #000614;
  --text-main: #ffffff;
  --text-muted: #9b9b9b;
  --border-ui: #7ac231;
  --card-bg: #edf8d214;
  --nav-active: #427e5a36;
  --table-row: #edf8d214;
  --toggle-bg: #ffffff;
  /* Dark mode uses the green gradient for the circle */
  --inner-circle: linear-gradient(133.93deg, #03d17a -14.79%, #7ac231 96.67%);
  --placeholder-bg: #9b9b9b;
  --notify-bg: #ffffff0c;
  --invoice-bg: #0f4337;
  --percent-cl: #7ac231;
  --cal-bg: #222222;
  --transaction-bg: #edf8d214;
  --line-bg: #e0e0e0;
  --row-bg: #edf8d214;
  --headrow-cl: #7ac231;
  --row-cl: #bfbfbf;

  --cancel-cl: #e90808;
  --navbar-cl: #9b9b9b;
}

body {
  background-color: var(--bg-body);
  color: var(--text-main);
  transition: all 0.3s ease;
}
.dark-only {
  display: none;
}
[data-theme="dark"] .dark-only {
  display: block;
}
[data-theme="dark"] .light-only {
  display: none;
}
.desktop-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 40px;
  background: var(--bg-header);
  display: flex;
  align-items: center;
  z-index: 99;
  justify-content: space-between;
}
.logo {
  width: 150px;
}
.logo-img {
  width: 100%;
}
.auth-modal {
  position: fixed;
  width: 420px;
  height: 440px;
  background-color: var(--bg-body);
  border: 1px solid var(--text-main);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  color: var(--text-main);
  inset: 0;
  margin: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: height 0.2s ease;
}
.auth-modal.slide {
  height: 520px;
}
.auth-modal .form-box {
  width: 100%;
  padding: 40px;
}
.auth-modal .form-box.login,
.auth-modal.slide .form-box.form-box.register {
  transform: translateX(0);
  transition: transform 0.18s ease;
}
.auth-modal.slide .form-box.login {
  transform: translateX(-400px);
  transition: none;
}
.auth-modal .form-box.register {
  position: absolute;
  transform: translateX(400px);
}
.form-box h2 {
  font-size: 35px;
  text-align: center;
}
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid var(--text-main);
  outline: none;
  border-radius: 40px;
  color: var(--text-main);
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: var(--text-main);
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--text-main);
  opacity: 0.7;
  transition: opacity 0.3s;
}
.input-box i:hover {
  opacity: 1;
}
.input-box .fa-eye:hover,
.input-box .fa-eye-slash:hover {
  cursor: pointer;
}
.btn {
  width: 100%;
  height: 45px;
  background: var(--border-ui);
  border-radius: 40px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--bg-header);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.form-box p {
  font-size: 14.5px;
  text-align: center;
  margin: 25px 0 10px;
}
.form-box p a {
  color: var(--text-main);
  text-decoration: none;
  font-weight: 600;
}
.form-box p a:hover {
  text-decoration: underline;
  color: var(--border-ui);
}
.alert-box {
  position: fixed;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-100% - 105px));
  top: 105px;
  min-width: 250px;
  max-width: 90%;
  width: max-content;
  min-height: 60px;
  height: auto;
  /* background: var(--navbar-cl); */
  border-radius: 6px;
  padding: 15px 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: transform 0.5s ease;
}
.alert-box.show {
  transform: translateX(-50%) translateY(0);
}
.alert {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 100%;
  padding: 10px 15px;
  color: var(--navbar-cl);
  font-weight: 600;
  white-space: nowrap;
}
.alert-box i {
  font-size: 18px;
}

.alert::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0%;
  background-color: var(--border-ui);
  display: block;
}
.alert-box i.fa-circle-exclamation {
  color: var(--cancel-cl);
}
.alert-box.show .alert::after {
  animation: progress 3s linear forwards;
}
.alert-box.error .alert::after {
  /* background-color: #ff4d4d9d !important; */
  /* background-color: #7ac23198; */
  background: none;
}
.alert-box.error span {
  /* color: #ff4d4db0; */
  color: var(--navbar-cl);
  font-weight: 700;
  line-height: 20px;
}
@keyframes progress {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@media screen and (max-width: 540px) {
  .desktop-header {
    padding: 20px 20px;
  }
  .logo {
    width: 100px;
  }
  .auth-modal {
    width: 90%;
  }
  .auth-modal,
  .form-box {
    background: transparent !important; /* Makes the white box vanish */
    box-shadow: none !important;
    border: none !important;
    width: 100%;
  }
  .form-box h2,
  .form-box p,
  .input-box label {
    color: var(--text-color);
  }
  /* .input-box input {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--text-main);
    backdrop-filter: blur(5px);
  } */
  .input-box input:focus {
    border-color: var(--border-ui);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
  }

  .alert {
    white-space: wrap;
  }
  .alert-box {
    font-size: 14px;
  }
}

/* --- TABLET STYLES (iPad, Galaxy Tab, etc.) --- */
/* @media screen and (min-width: 541px) and (max-width: 1024px) {
  .auth-modal {
    width: 60%; 
    max-width: 600px;
  }

  .auth-modal,
  .form-box {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
  }

  .auth-modal.slide .form-box.login {
    transform: translateX(-600px);
    transition: none;
  }
  .auth-modal .form-box.register {
    position: absolute;
    transform: translateX(600px);
  }
  .form-box h2 {
    font-size: 45px;
  }
  .input-box input {
    font-size: 20px;
  }
  .input-box i {
    font-size: 24px;
  }
  .btn {
    font-size: 20px;
  }
  .form-box p {
    font-size: 18px;
  }
  .input-box i {
    right: 20px;
    color: var(--text-color);
  }
} */
/* --- TABLET STYLES (iPad, Galaxy Tab, etc.) --- */
@media screen and (min-width: 541px) and (max-width: 1024px) {
  .auth-modal {
    width: 70%;
    max-width: 500px;
  }

  .auth-modal,
  .form-box {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
  }

  /* Keep your icons centered and visible */
  .input-box i {
    right: 20px;
    color: var(--text-color);
  }
  .auth-modal.slide .form-box.login {
    transform: translateX(-600px);
    transition: none;
  }
  .auth-modal .form-box.register {
    position: absolute;
    transform: translateX(600px);
  }
  .form-box h2 {
    font-size: 45px;
  }
  .input-box input {
    font-size: 20px;
  }
  .input-box i {
    font-size: 24px;
  }
  .btn {
    font-size: 20px;
  }
  .form-box p {
    font-size: 18px;
  }
}
